

    <nav class="navbar navbar-expand-lg navbar-light bg-light py-4 fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand d-flex justify-content-between align-item center order-lg-0 ms-5" href="/">
                <i class="bi bi-handbag-fill"></i>
                <span class="text-uppercase fw-lighter ms-2"> Mark</span>
            </a>
            <div class="order-lg-2 me-5">
                <button type="button" class=" btn position-relative ml-atuo">
                    <i class="bi bi-cart-fill"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge bg-primary">5</span>
                </button>
                <button type="button" class=" btn position-relative ml-atuo">
                    <i class="bi bi-chat-square-heart-fill"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge bg-primary">5</span>
                </button>
                <button type="button" class=" btn position-relative ml-atuo">
                    <i class="bi bi-search"></i>

                </button>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse order-lg-1" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto text-center">
                    <li class="nav-item px-2 py-2 ">
                        <a class="nav-link active text-dark" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link text-dark" href="#">ABOUT</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link text-dark" href="#">BLOG</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link text-dark" href="#">OFFER</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link text-uppercase text-dark" href="#">Products</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link  text-uppercase" href="#">orders</a>
                    </li>


                </ul>

            </div>
        </div>
    </nav>

